/*@media (max-width: 319px) {*/
/*    .parent {*/
/*        display: grid;*/
/*        grid-template-columns: 10% repeat(4, 20%) 10%;*/
/*        grid-template-rows: 12% 22.5% 10.5% 1.5% 14.5% 39%;*/
/*        position: absolute;*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        font-family: 'El Messiri', sans-serif;*/
/*        justify-items: center;*/
/*    }*/
/*       .div2 > .text{*/
/*            font-size: 1.6em;*/
/*           flex-direction: row;*/
/*           justify-content: center;*/
/*           justify-items: center;*/
/*           align-content: center;*/
/*        }*/
/*        ul{*/
/*            display: flex;*/
/*        }*/
/*        li{*/
/*            list-style-type: none;*/
/*            font-size: .75em;*/
/*        }*/
/*        nav{*/
/*            padding-top: 2em;*/
/*            flex-direction: row;*/
/*            justify-content: center;*/
/*            justify-items: center;*/
/*            align-content: center;*/
/*        }*/
/*    .circleImg{*/
/*        position: relative;*/
/*        z-index: 5;*/
/*        border-radius: 50%;*/
/*        background-size: cover;*/
/*        height: 14em;*/
/*        width: 14em;*/
/*        font-weight: 700;*/
/*    }*/

/*}*/
@media only screen
/*and (min-device-width : 310px)*/
and (max-width : 568px) { /* STYLES GO HERE */
/*}*/
    .grid {
        padding-top: .1em;
        padding-bottom: .1em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .grid > article {
        border: 1px solid #ccc;
    }
    .grid > article img {
        max-width: 100%;
    }
    .bottom-padding-contact{
        padding-bottom: 5em;
    }
/*@media (min-width: 320px) {*/
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 12% 22.5% 10.5% 1.5% 14.5% 39%;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: 1.3em;
        margin-top: 1em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        font-size: .75em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 12em;
        width: 12em;
        font-weight: 700;
    }
    nav{
        padding-top: 2em;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
    i {
        margin: .05em;
        margin-top: .75em;
        padding: 8px;
    }
    i:hover{
        color: steelblue;
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    /*.resume{*/
    /*    width: 350px;*/
    /*    height:450px;*/
    /*    outline: none;*/
    /*}*/


}
@media (min-width: 569px) {
    #container {
        padding-top: 0;
    }

    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% 24.5% 17.5% 10.5% 17.5% 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: 2em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        font-size: 1.2em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 17em;
        width: 17em;
        font-weight: 700;
    }
    i {
        margin: .05em;
        padding: 8px;
    }
    i:hover{
        color: steelblue;
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .item {
        flex: 50%;
        /*height: 50vw;*/
        /*font-size: 6vw;*/
        /*padding-top: 21vw;*/
        /*border-width: 0.5vw;*/
    }

}

@media (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% 24.5% 17.5% 10.5% 17.5% 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: 2em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        font-size: 1.2em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 14em;
        width: 14em;
        font-weight: 700;
    }
    i {
        margin: .2em;
        padding: 10px;
    }
    i:hover{
        color: steelblue;
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    #container {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% repeat(4, 17.5%) 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }

   h1{
        font-size: 5em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        margin-top: 2em;
        padding-right: .5em;
        font-size: 1.35em;
    }
    .circleImg{
        /*position: relative;*/
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 15.5em;
        width: 15.5em;
        font-weight: 700;
    }
    i {
        margin: .3em;
        /*margin-top: 1em;*/
        padding: 12px;
    }
    i:hover{
        color: steelblue;
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    #container {
        /*padding-top: 18%;*/
    }

}

@media (min-width: 1200px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% repeat(4, 17.5%) 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }

    h1{
        font-size: 5em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        margin-top: 2em;
        padding-right: .5em;
        font-size: 1.5em;
    }

    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 16em;
        width: 16em;
        font-weight: 700;
    }
    #container {
        /*padding-top: 18%;*/
    }

}
/*@media screen and (min-width: 640px) {*/
/*    !*#mobile-contact{*!*/
/*    !*    display: flex;*!*/
/*    !*}*!*/
/*    !*#desktop-contact{*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/
/*    .item {*/
/*        flex: 0 0 50%;*/
/*        !*height: 50vw;*!*/
/*        !*font-size: 6vw;*!*/
/*        !*padding-top: 21vw;*!*/
/*        !*border-width: 0.5vw;*!*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1100px) {*/
/*    !*#mobile-contact{*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/
/*    !*#desktop-contact{*!*/
/*    !*    display: flex;*!*/
/*    !*}*!*/
/*    .not4or5 {*/
/*        flex: 0 0 33.3%;*/
/*        height: 33.3vw;*/
/*        font-size: 4vw;*/
/*        padding-top: 14vw;*/
/*    }*/
/*}*/
/*@media screen and (min-width:576px) { !* ... *! }*/

/*!* Medium devices (tablets, 768px and up) *!*/
/*@media screen and (min-width:768px) { !* ... *! }*/

/*!* Large devices (desktops, 992px and up) *!*/
/*@media screen and (min-width:992px) { !* ... *! }*/

/*!* Extra large devices (large desktops, 1200px and up) *!*/
/*@media screen and (min-width:1200px) { !* ... *! }*/
