@media (max-width: 319px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 12% 22.5% 10.5% 1.5% 14.5% 39%;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
       .div2 > .text{
            font-size: 1.6em;
           flex-direction: row;
           justify-content: center;
           justify-items: center;
           align-content: center;
        }
        ul{
            display: flex;
        }
        li{
            list-style-type: none;
            font-size: .75em;
        }
        nav{
            padding-top: 2em;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-content: center;
        }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 14em;
        width: 14em;
        font-weight: 700;
    }

}
@media (min-width: 320px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 12% 22.5% 10.5% 1.5% 14.5% 39%;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: .90em;
        /*margin-top: 6em;*/
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        /*margin-top: 0;*/
        /*padding-right: .5em;*/
        font-size: .75em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 14em;
        width: 14em;
        font-weight: 700;
    }
    /*.div2 > .text{*/
    /*    font-size: 1.6em;*/
    /*    flex-direction: row;*/
    /*    justify-content: center;*/
    /*    justify-items: center;*/
    /*    align-content: center;*/
    /*}*/
    ul{
        display: flex;
    }
    li{
        list-style-type: none;
        font-size: .75em;
    }
    nav{
        padding-top: 2em;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }


}
@media (min-width: 576px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% 24.5% 17.5% 10.5% 17.5% 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: 2em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        font-size: 1.2em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 17em;
        width: 17em;
        font-weight: 700;
    }

}

@media (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% 24.5% 17.5% 10.5% 17.5% 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }
    h1{
        font-size: 2em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        font-size: 1.2em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 17em;
        width: 17em;
        font-weight: 700;
    }

}

@media (min-width: 992px) {
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% repeat(4, 17.5%) 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }

   h1{
        font-size: 5em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        margin-top: 1em;
        padding-right: .5em;
        font-size: 1.35em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 19em;
        width: 19em;
        font-weight: 700;
    }

}

@media (min-width: 1200px) {
    .parent {
        display: grid;
        grid-template-columns: 10% repeat(4, 20%) 10%;
        grid-template-rows: 10% repeat(4, 17.5%) 20%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'El Messiri', sans-serif;
        justify-items: center;
    }

    h1{
        font-size: 5em;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        list-style-type: none;
        margin-top: 1em;
        padding-right: .5em;
        font-size: 1.5em;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 22em;
        width: 22em;
        font-weight: 700;
    }
    .circleImg{
        position: relative;
        z-index: 5;
        border-radius: 50%;
        background-size: cover;
        height: 18.5em;
        width: 18.5em;
        font-weight: 700;
    }

}


