@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
/*=========================================GRID INITIALIZATION====================================================*/
.parent {
    display: grid;
    grid-template-columns: 10% repeat(4, 20%) 10%;
    grid-template-rows: 20% 22% 22% 20% 14% 2%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'El Messiri', sans-serif;
    justify-items: center;


}

.nav {
    top: 0;
    display: flex;
    list-style-type: none;
    /*width: 100%;*/
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    z-index: 2;
    grid-area: 1 / 1 / 2 / 7;
}
.nav a {
    color: white;
    display: block;
    text-decoration: none;
}
nav ul{
    padding: 0;
    margin: 0;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
.div1 { grid-area: 2 / 3 / 4 / 5; }
.div2 { grid-area: 4 / 2 / 5 / 6; }
.div3 { grid-area: 5 / 2 / 6 / 6; }
.div4 {grid-area: 6 / 2 / 7 / 6; }

.padding-top{
    padding-top: 8.5em;
}
/*=========================================START OF BACKGROUND====================================================*/
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
.stars {
    width:100vw;
    height: 100vh;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
}

.twinkling{
    width:100vw;
    height: 100vh;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    -moz-animation:move-background 30s linear infinite;
    -ms-animation:move-background 30s linear infinite;
    -o-animation:move-background 30s linear infinite;
    -webkit-animation:move-background 20s linear infinite;
    animation:move-background 30s linear infinite;

}

.clouds{
    width:100%;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    -moz-animation:mymove 60s infinite;
    -ms-animation:mymove 60s infinite;
    -o-animation:mymove 60s infinite;
    -webkit-animation:mymove 60s infinite;
    animation:mymove 60s infinite;
}
@-webkit-keyframes mymove {
    35% {background-position: center;}
}

@keyframes mymove {
    35% {background-position: center;}
}
/*==============================================Circle Head Shot===============================================*/
.circleImg{
    z-index: 1;
    border-radius: 50%;
    background-size: cover;
    height: 17em;
    width: 17em;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
}
.flex-center{
    position: absolute;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*==============================================All Text===============================================*/

.text{
    position: static;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 1;
}
/*==============================================Div Fullscreen===============================================*/

.fullScreen{
    width: 95vw;
    height: 100vh;
}
.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}
/*==============================================Arrow===============================================*/

.arrow {
    top: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 4.5vmin;
    height: 4.5vmin;
    box-sizing: border-box;
    transform: rotate(-45deg);
    z-index: 1;
}

.arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}


.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition:.4s ease;
}

.arrow:hover::after {
    transform: rotate(45deg);
    border-color: #2e71a5;
    height: 120%;
}
.arrow:hover::before {
    border-color: #2e71a5;
    transform: scale(.8);

}
.sticky-arrow {
    display: flex;
    position: fixed;
    right: 1.9em;
    top: 40em;
}
/*==============================================Cards and Card Grid===============================================*/

.grid {
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}
.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: #000;
    transition: all .6s ease-in-out;

}
article:hover{
    transform: scale(1.05);
    /*border: 4px solid #2e71a5;*/
    /*background-color: #2e71a5;*/
    background-color: white;
    color: black;
}
article:hover > .text{
    color: black;
}
.grid > article img {
    max-width: 100%;
}
article > .text {
    color: white;
    text-shadow: none;
    padding: 0 20px 20px;
}
a > button {
    background: slategrey;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-size: .8em;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
a > button:hover {
    transform: scale(1.08);
    background-color: #1A8BB4;
}

/*==============================================Icons===============================================*/
.icon{
    color: white;
}
.box.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}

.box {
    height: 2em;
}
i {
    transition: transform .5s ease;
    margin: .3em;
}
.notBlue{
    color: white;
}
i:hover{
    color: steelblue;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*==============================================Resume===============================================*/
/*.resume{*/
/*    width: 850px;*/
/*    height: 475px;*/
/*    outline: none;*/
/*}*/
object{
    width: 850px;
    height: 475px;
    outline: none;
}
.center-text{
    text-align: center;
}
/*==============================================Header===============================================*/

.header {
    top: 0;
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    color: black;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        /*padding: 20px 30px;*/
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: 100vh;
    }
    .header .menu-icon {
        display: none;
    }
}

a{
    text-decoration: none;
    color: skyblue;
}
a:hover{
    color: steelblue;
}
.rotateimg180 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.circleImg2{
    /*padding: 2em;*/
    padding-bottom: 0;
    z-index: 1;
    border-radius: 50%;
    background-size: cover;
    height: 19em;
    width: 19em;
}
.circleImg2:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.about-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.margin-bottom{
    margin-bottom: 2em;
}

@media (min-width: 375px) {
    .inner-width{
        padding-right: 1em;
        padding-left: 1em;
    }
}
@media (max-width: 400px) {
    .mobile-margin{
        margin-top: 2em;
    }
    .padding-bottom {
        padding-bottom: 4em;
    }
    .resume{
        max-width: 320px;
        max-height: 475px;
        outline: none;
        overflow: scroll;
    }
}
@media (max-width: 1024px) {
    .mobile-hidden{
        display: none;
    }
}

/* The caption text inside of the .img-hover-text */
.img-hover-text figcaption{
    box-sizing: border-box;
    opacity: 0;
    transition: .5s;
    margin: 0;
}
figcaption p{
    width: 80%;
    padding-left: 3.5em;
}
/* :hover pseudo selector used on parent container to then target figcaption child */
.img-hover-text:hover figcaption {
    /* Makes the element completely visible */
    opacity: 1;
}
